* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 44px;
  text-align: center;
}

p {
  margin: 30px 10px;
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

li {
  margin-bottom: 15px;
}

figcaption {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 35px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 50px auto;
  background-color: #283e50;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 5px 5px 0 0;
}

#uvodni {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.box__button {
  background-color: #1fcca4;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box__button:hover {
  background-color: #1cbb96;
}

.box__button--play {
  background-color: #0197f6;
  border-top: 1px solid black;
}

.box__button--play:hover {
  background-color: #0090e9;
}

.box__description--rules {
  border-radius: 5px 5px 0 0;
  text-align: left;
  padding: 10%;
}

.instructions {
  display: block;
  width: 100%;
}

.icone {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
